Source: lazygit
Section: utils
Priority: optional
Maintainer: Dawid Dziurla <dawidd0811@gmail.com>
Build-Depends: debhelper (>= 9),
               golang-1.13-go|golang-any (>= 1.13),
               git
Standards-Version: 3.9.7
Homepage: https://github.com/jesseduffield/lazygit
XS-Go-Import-Path: github.com/jesseduffield/lazygit

Package: lazygit
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         git
Description: simple terminal UI for git commands
 lazygit A simple terminal UI for git commands, written in Go with the
 gocui (https://github.com/jroimartin/gocui) library.
 .
 are YOU tired of typing every git command directly into the terminal,
 but you're too stubborn to use Sourcetree because you'll never forgive
 Atlassian for making Jira? This is the app for you!
 .
 Tutorial (https://www.youtube.com/watch?v=VDXvbHZYeKY)
 .
 Gif Installation In a terminal call this command: go get
 github.com/jesseduffield/lazygit (if you don't have Go installed, you
 can follow the installation guide Here (https://golang.org/doc/install)
 .
 then just call lazygit in your terminal inside a git repository
 .
 If you want, you can also add an alias for this with echo "alias
 lg='lazygit'" >> ~/.zshrc (or whichever rc file you're using) Cool
 features• Adding files easily• Resolving merge conflicts•
 Easily check out recent branches• Scroll through logs/diffs of
 branches/commits/stash• Quick pushing/pulling• Squash down and rename
 commitsResolving merge conflicts Gif Viewing commit diffs Viewing Commit
 Diffs Work in progress This is still a work in progress so there's
 still bugs to iron out and as this is my first project in Go the code
 could no doubt use an increase in quality, but I'll be improving on it
 whenever I find the time. If you have any feedback feel free to raise
 an issue/submit a PR.
