#!/usr/bin/make -f

export GOCACHE := $(CURDIR)/debian/tmp/gocache
export CGO_ENABLED := 0
export PATH := /usr/lib/go-1.13/bin:$(PATH)
export COMMIT := $(shell dpkg-parsechangelog -S Version | egrep --only-matching "[0-9a-z]{7}-" | cut -c 1-7)
ifeq ($(COMMIT), )
export VERSION := $(shell dpkg-parsechangelog -S Version | cut -d'-' -f1)
endif

%:
	dh $@

override_dh_auto_install:

override_dh_auto_test:

override_dh_auto_build:
	go build -trimpath -mod=vendor -ldflags \
		"-X main.commit=$(COMMIT) \
		-X main.date=$(shell date -u +%Y-%m-%d) \
		-X main.version=$(VERSION) \
		-X main.buildSource=debian"
